body {
    background-image: url('../img/ThatCanineHorse-size_restricted.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    text-align: center;
    padding: 15% 45%;
    color: aliceblue;
}

h1 {
    color: white;
}
